{% extends 'base.html.twig' %}

{% block body %}
    <h3>Admin Panel</h3>
        <a href='{{ path('admin.groups') }}'><button class='btn btn-primary'>Groups</button></a>
        <a href='{{ path('admin.persons') }}'><button class='btn btn-primary'>Persons</button></a>
        <a href='{{ path('app_logout') }}'><button class='btn btn-primary'>Logout</button></a>
{% endblock %}
